/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap'); */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', cursive;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
